@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Work+Sans&display=swap');

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}

body {
    margin-top: 50px;
    background-color: rgba(17, 102, 81, 0.6);
}

.cep {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 156, 117, 0.6);
    padding: 50px;
}

.col {
    padding: 20px;
    background-color: rgba(0, 156, 117, 0.6);
    margin-left: 50px;
}

.form-label {
    margin-right: 8px;
    font-weight: bold;
    font-size: 20px;
}

.row .form-label {
    width: 100px;
    font-weight: bold;
    font-size: 20px;
}

input {
    margin: 5px;
    height: 30px;
    font-size: 20px;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    max-width: 500px;
    width: 70%;
    padding: 100px 200px;
    border-radius: 30px;
    box-shadow:5px 5px 5px #201b2c;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

#submit {
    width: 100px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #201b2c;
    background: rgba(17, 102, 81, 0.6);
    cursor: pointer;
}

#submit:hover {
    background-color: #E9E9;
}