*{
  margin: 0;
  padding:0;
}
.header{
  display: flex;
  width: 100vw;
 
  justify-content: center;
  margin-top: 10px;
}

.header img{
  width: 350px;
}

.section{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
 
}

.div_section{
  background-color: rgb(232, 205, 28);
  text-align: center;
  width: 250px;
  height: 100px;
  margin-top: 30px;
  border-radius: 16px;
}

.div_section p{
  margin: 5px 0;
  color: rgb(15, 15, 255);
}