@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100&family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(./image/ghibli2.gif);
  background-repeat: calc(1000vh);
}
.card{
    /*display: inline-block;*/
    flex: none;
    width: 100%;
    height: 530px;
    background-color: rgb(149, 180, 195);

   /* border-radius: 10px;*/
    object-fit: cover;
    scroll-snap-align: start;
}

#movie {
    display: flex;
    background-color: rgb(31, 25, 17);
    width: 100vh;
    align-items: center;
    overflow-x: auto;
    border-radius: 50px;
    scroll-snap-type: x mandatory;
  }

  .image {
    margin-top: 1rem;
    border-radius: 40px;
    border: solid 2px;
    width: 300px;
    height: 250px;
    margin: 10px;
  }

  h1 {
    text-align: center;
    padding: 40;
    font-size: 50px;
    margin: 1px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: rgb(19, 11, 19);
  }
  h2 {
    text-align: center;
    padding: 1px;
    font-size: 30px;
    margin: 1px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: rgb(19, 11, 19);
  }

  p {
    font-size: initial;
    color: rgb(63, 61, 61);
    align-items: center;
   }

   .description {
     font-size: 16.8px;
     margin: 11px;
     font-family: 'Nunito', sans-serif;
   }