*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background:#44b6c9;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color:#434343 ;

    height: 95vh;
    background-image: url(./img/paisagem\ 3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#Ghibli{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    padding: 32px;
    
}

.card {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 400px;
  }
  
.card .image {
    width: 100%;
    align-self: center;
    box-shadow: 1px 1px 10px #7f8fa6;
  }
  
.title {
    font-size: 2rem;
  }

.date{
    align-self: flex-start;
    font-style: italic;
    font-size: 1.2rem;
}
.director{
    font-size: 2rem;
}
.description {
    margin-top: 10px;
}

  

/* .main_principal section.Filme{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-width: 256px ;
    margin-left: 32px;  
}


.main_principal div.card img{
    width: 100%;
} */