@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Work+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;

}
body{
  background: #FFFFFF url("./images/studio.jpg") no-repeat right top fixed;
}
#index{
  display:flex;
  flex-wrap: wrap;
}
div {
  margin:10px;
   margin: 0 auto;
}
.titulo{
  color:black;
  font-size:19px;
  text-align: center;
  font-weight: bold;
  font-size:25px;

}
.titulo:hover{
  color: #d31141; text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
  text-decoration: line-through;
}

.imagem{
  margin-top: 10px;
  width: 250px;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: 10px 5px 5px black;

} 