@import url('https://fonts.googleapis.com/css2?family=Atma:wght@500&family=Comic+Neue:wght@700&family=Josefin+Sans:ital,wght@1,300&family=Raleway:ital@1&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-align: center;
}

body {
    height: 95vh;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-image: url(./Ghibli\ Background.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: row;
    
}

#demo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.movie {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 400px;
}

.movie .image {
    width: 100%;
    align-self: center;
    box-shadow: 1px 1px 10px #7f8fa6;
}

.title {
    font-size: 2rem;
}

.director {
    align-self: center;
    font-style: italic;
    font-size: 1.2rem;
}

