* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: black;
  color: lightgrey;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1.5rem 0;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

li {
  display: inline-block;
  list-style: none;
  padding: 0.5rem 0;
}

.card {
  border: 3px solid lightgrey;
  border-radius: 10px;
  max-width: 320px;
  height: 1100px;
}

img {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 3px solid lightgrey;
  max-width: 315px;
}

.info-card {
  padding: 0.8rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.8rem 0;
}

p {
  font-size: 1rem;
  padding: 0.8rem 0;
  color: gray;
  text-align: justify;
}

span {
  font-size: 1.2rem;
  font-weight: bold;
}
