@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  
}
h1{
  font-size: 30px;
  text-align: center;
  padding: 20px;
  color: #FFA500;
}
#container{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  
}
.card-container:nth-last-child(1){
  padding: 20px;
  background-color: #1F4690;
  width: 400px;
  height: 270px;   
  
}

.text{
  padding: 10px;
  font-size: 2rem;
  color: #FFE5B4;
}