@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Gentium+Plus:ital@1&family=Nuosu+SIL&display=swap');

 *{
   margin: 0;
   padding: 0;
   font-family: 'Gentium Plus', serif;

 }
 body{
   background: #a8ffd0;
 }
 #index{
   display:flex;
   flex-wrap: wrap;
 }
 div {
   margin:10px;
    margin: 0 auto;
 }
 .titulo{
   color:black;
   font-size:19px;
   text-align: center;
   font-weight: bold;
   font-size:25px;

 }
 .titulo:hover{
   color: #d31141; text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
   text-decoration: line-through;
 }

 .imagem{
   margin-top:10px;
   width:300px;
   margin: 10px;
   border: 1px solid gray;
   box-shadow: 10px 5px 5px black;

 }

