/* Retirando configuração navegador*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.cep{
   text-align: center;
   font-size: 30px;
    border: 10px solid rgb(3, 3, 3);
    margin: 60px;
    background-color: rgb(223, 202, 202);
    min-height: auto;
    min-width: auto;
    
  
}